In [60]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split 
import category_encoders as ce

books = pd.read_csv("books.csv",delimiter=";")
users = pd.read_csv("users.csv",delimiter=";")
ratings = pd.read_csv("ratings.csv",delimiter=";") 
dataset= ratings.join(users.set_index('user_id'),on='user_id').join(books.set_index('isbn'),on='isbn').sort_values(by='user_id').drop(columns=['isbn','Language','img_l','publisher','city','state'])
dataset['age']=np.where(np.isnan(dataset['age']),0,round(dataset['age']))
dataset['age']=dataset['age'].astype('Int64')  
dataset['year_of_publication']=dataset['year_of_publication'].astype('Int64')  
dataset.loc[pd.isna(dataset['country']),'country']='unknown'
ce_baseN10=ce.BaseNEncoder(cols=['country','Category','book_author','book_title'],base=10)
new_dataset=ce_baseN10.fit_transform(dataset)
new_dataset

,user_id,rating,age,country_0,country_1,country_2,book_title_0,book_title_1,book_title_2,book_author_0,book_author_1,book_author_2,year_of_publication,Category_0,Category_1
0,9,0,0,0,0,1,0,0,1,0,0,1,1999,0,1
342,9,6,0,0,0,1,0,0,2,0,0,2,1994,0,1
487,14,0,35,0,0,2,0,0,3,0,0,3,2004,0,1
149412,16,0,0,0,0,1,0,0,4,0,0,4,2000,0,1
2501,16,9,0,0,0,1,0,0,5,0,0,5,1997,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158804,278851,8,33,0,0,2,0,1,7,0,1,7,1991,0,5
125039,278854,7,0,0,0,1,8,7,4,1,9,5,1997,0,2
121791,278854,0,0,0,0,1,8,3,1,4,0,1,1990,0,1
102551,278854,7,0,0,0,1,6,7,3,0,3,6,1998,0,1
87424,278854,8,0,0,0,1,5,4,0,1,1,3,2000,0,1

In [61]:
y = new_dataset.pop('rating')

In [63]:
dataset.to_csv('dataset.csv',index=False)
training_dataset, test_dataset, y_train, y_test = train_test_split(new_dataset, y, test_size=0.2, random_state=42)
training_dataset=training_dataset.sort_values(by='user_id')
test_dataset=test_dataset.sort_values(by='user_id')
training_dataset.to_csv('dados_treinamento.csv',index=False)
test_dataset.to_csv('dados_teste.csv',index=False)

,user_id,age,country_0,country_1,country_2,book_title_0,book_title_1,book_title_2,book_author_0,book_author_1,book_author_2,year_of_publication,Category_0,Category_1
342,9,0,0,0,1,0,0,2,0,0,2,1994,0,1
487,14,35,0,0,2,0,0,3,0,0,3,2004,0,1
2501,16,0,0,0,1,0,0,5,0,0,5,1997,0,1
149412,16,0,0,0,1,0,0,4,0,0,4,2000,0,1
2989,17,35,0,0,2,0,0,6,0,0,6,2001,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65818,278843,0,0,0,1,3,8,6,2,2,6,1998,0,1
20167,278844,28,0,0,2,1,3,1,0,8,8,1994,0,1
158804,278851,33,0,0,2,0,1,7,0,1,7,1991,0,5
87424,278854,0,0,0,1,5,4,0,1,1,3,2000,0,1
102551,278854,0,0,0,1,6,7,3,0,3,6,1998,0,1