In [121]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split 

books = pd.read_csv("books.csv",delimiter=";")
users = pd.read_csv("users.csv",delimiter=";")
ratings = pd.read_csv("ratings.csv",delimiter=";") 
dataset= ratings.join(users.set_index('user_id'),on='user_id').join(books.set_index('isbn'),on='isbn').sort_values(by='user_id').drop(columns=['isbn','Language','img_l','publisher'])
for index,row in  dataset.iterrows():
    #treat NaN values
    pass
dataset

,user_id,rating,age,city,state,country,book_title,book_author,year_of_publication,Category
0,9,0,NaN,NaN,NaN,NaN,The Testament,John Grisham,1999.0,['Fiction']
342,9,6,NaN,NaN,NaN,NaN,Beloved (Plume Contemporary Fiction),Toni Morrison,1994.0,['Fiction']
487,14,0,34.7439,mediapolis,iowa,usa,Wild Animus,Rich Shapero,2004.0,['Fiction']
149412,16,0,NaN,NaN,NaN,NaN,Timeline,MICHAEL CRICHTON,2000.0,['Fiction']
2501,16,9,NaN,NaN,NaN,NaN,Airframe,Michael Crichton,1997.0,['Fiction']
...,...,...,...,...,...,...,...,...,...,...
158804,278851,8,33.0000,dallas,texas,usa,Life's Little Instruction Book (Life's Little ...,H. Jackson Brown,1991.0,['Conduct of life']
125039,278854,7,NaN,NaN,NaN,NaN,A Virtuous Woman (Oprah's Book Club (Paperback)),Kaye Gibbons,1997.0,9
121791,278854,0,NaN,NaN,NaN,NaN,The Cat Who Ate Danish Modern (Cat Who... (Pap...,Lilian Jackson Braun,1990.0,['Fiction']
102551,278854,7,NaN,NaN,NaN,NaN,Hornet's Nest,Patricia Daniels Cornwell,1998.0,['Fiction']
87424,278854,8,NaN,NaN,NaN,NaN,Ashes to Ashes,TAMI HOAG,2000.0,['Fiction']

In [122]:
y = dataset.pop('rating')

In [123]:
dataset.to_csv('dataset.csv',index=False)
training_dataset, test_dataset, y_train, y_test = train_test_split(dataset, y, test_size=0.2, random_state=42)